<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
</head>
<body>
    <h1>Write the Numbers or Words:</h1>
    <form action="/result" method="post">
        {% for word, number in assignments.items() %}
            <p>
                Assign: 
                {% if display_choices[loop.index0] == "word" %}
                    {{ word }}
                    <input type="hidden" name="expected" value="{{ number }}">
                {% else %}
                    {{ number }}
                    <input type="hidden" name="expected" value="{{ word }}">
                {% endif %}
                <input type="text" name="user_input" placeholder="Type here">
            </p>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
